@page "/trusts/overview/trust-summary"
@model TrustSummaryModel

@{
    Layout = "_TrustLayout";
}

<div class="govuk-grid-row" data-testid="trust-summary">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m" data-testid="subpage-header">
            @Model.PageMetadata.SubPageName
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-0">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total academies
                </dt>
                <dd class="govuk-summary-list__value" data-testid="total-academies">
                    @Model.TrustOverview.TotalAcademies
                </dd>
            </div>

            <!-- Academies in Each Local Authority -->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Academies in each local authority
                </dt>
                <dd class="govuk-summary-list__value" data-testid="academies-in-each-authority">
                    @foreach (var (authority, total) in Model.AcademiesInEachLocalAuthority)
                    {
                        <p class="govuk-body govuk-!-margin-bottom-1">@total in @authority</p>
                    }
                </dd>
            </div>

            <!-- Pupil Numbers -->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Pupil numbers
                </dt>
                <dd class="govuk-summary-list__value" data-testid="number-of-pupils">
                    @($"{Model.TrustOverview.TotalPupilNumbers:n0}")
                </dd>
            </div>

            <!-- Pupil Capacity and Percentage Full -->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Pupil capacity (% full)
                </dt>
                <dd class="govuk-summary-list__value" data-testid="pupil-capacity">
                    @($"{Model.TrustOverview.TotalCapacity:n0}")
                    @if (Model.TrustOverview.PercentageFull is not null)
                    {
                        @($"({Model.TrustOverview.PercentageFull}%)")
                    }
                </dd>
            </div>

        </dl>

        <hr class="govuk-section-break govuk-section-break--m">
    </div>
</div>