@using DfE.FindInformationAcademiesTrusts.Pages.Schools.Ofsted
@model ISchoolAreaModel

@{
  Layout = "_Layout";
  ViewData["Title"] = Model.PageMetadata.BrowserTitle;
}

<partial name="_SchoolBanner" model="@Model"/>
<partial name="Shared/NavMenu/_ServiceNav" model="@Model.ServiceNavLinks"/>
<div class="govuk-main-wrapper govuk-!-padding-top-6">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <main id="main-content">
              @await RenderSectionAsync("SchoolPageMessage", false)
              <header>
                  <h2 class="govuk-heading-l" data-testid="page-name">@Model.PageMetadata.PageName</h2>
              </header>
              <partial name="Shared/NavMenu/_SubNav" model="@Model.SubNavLinks"/>
              @RenderBody()
          </main>
          @if (Model is OfstedAreaModel)
          {
              <partial name="Ofsted/_LinkToOfsted" model="@Model"/>
          }
        <partial name="Shared/DataSource/_SourceList" model="@Model.DataSourcesPerPage"/>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  @await RenderSectionAsync("Scripts", false)
}
